@use "../variables" as *;
@use "../mixins" as *;

.couple-photo {
    width: 100%;
    min-height: 390px;
    @include flex-center;
    padding: 35px 0;

    .container-photo {
        background: url("../../assets/images/bg/");
        width: 100%;
        max-width: 297px;
        aspect-ratio: 297 / 382;
        position: relative;
        @include flex-center;

        img {
            width: 100%;
            height: auto;
        }

        .overlay {
            position: absolute;
            bottom: 60px;
            left: 50%;
            transform: translateX(-50%);

            img {
                width: 116px;
                height: auto;
            }
        }
    }

    @media (max-width: 430px) {
        padding: 0;

        .container-photo  {
            img {
                width: 85%;
            }
            .overlay {
                bottom: 80px;
                img {
                    width: 100px;
                }
            }
        }
    }
}
