@use '../variables' as *;
@use '../mixins' as *;

.cover {
    .content {
        background: url('../../assets/images/bg/hero_bg.jpg') no-repeat center/cover;
        width: 100%;
        height: 822px;
        @include flex-center;
        flex-direction: column;
        color: #fff;

        .names {
            font-family: $font-hero;
            font-size: 2.5rem;
            font-weight: normal;
        }

        .photo-frame {
            width: 210px;
            padding: 30px 0;
            perspective: 1000px;

            img {
                width: 100%;
            }
        }

        .subtext {
            font-family: $font-hero;
            font-size: 1.2rem;
            font-weight: normal;
        }

        .divider {
            margin: 5px 0;
        }

        .divider .divider-icon {
            width: 74px;
            height: auto;
        }

        .divider img.bottom {
            transform: rotateX(180deg);
        }
    }

    @media (max-width: 499px) {
        .content {
            .names {
                font-size: 8.5vw;
            }
        }
    }
}