@use "../variables" as *;
@use "../mixins" as *;

.gallery {
    width: 100%;
    height: 800px;
    margin: 10px 0 50px;
    // background: url("../../assets/images/bg/gallerey_bg.webp") no-repeat center/contain;
    @include flex-center;

    .gallery-grid {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    img.photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .row1 {
        display: flex;
        justify-content: center;

        .column1 {
            display: flex;
            padding-right: 4px;
            // justify-content: end;
            .photo-box {
                width: 100%;
                height: 100%;
                max-width: 215px;
                // aspect-ratio: 215 / 336;
                // overflow: hidden;
            }
        }

        .column2 {
            display: flex;
            flex-direction: column;
            justify-content: end;

            .row {
                text-align: center;
            }
         
            img.icon {
                width: 86px;
                height: auto;
                padding-bottom: 15px;
                object-fit: cover;
            }

            .photo-box {
                width: 100%;
                height: 100%;
                max-width: 105px;
                overflow: hidden;
                img {
                    transform: scale(120%) translateY(-10px);
                }
            }
        }
    }

    .row2 {
        display: flex;
        justify-content: center;

        .column1 {
            padding: 4px;
            .row:first-child {
                .photo-box {
                    width: 100%;
                    max-width: 162px;
                    aspect-ratio: 162 / 251;
                    overflow: hidden;
                    img {
                        transform: scale(250%);
                    }
                }
            }

            .row:last-child {
                @include flex-center;
                
                img.icon {
                    width: 104px;
                    height: 100%;
                    object-fit: cover;
                    padding-top: 40px;
                }
            }
        }

        .column2 {
            padding-top: 4px;
            .row:first-child {
                padding-bottom: 4px;
                .photo-box {
                    width: 100%;
                    height: 100%;
                    max-width: 234px;
                    aspect-ratio: 234 / 157;
                    // overflow: hidden;
                    img {
                        object-position: 100% 100%;
                        // transform: translateY(-30px);
                    }
                }
            } 

            .row:last-child {
                .photo-box {
                    width: 82%;
                    max-width: 181px;
                    height: 100%;
                    // aspect-ratio: 181 / 259;
                    overflow: hidden;
                    img {
                        transform: scale(130%) translateY(-30px);
                    }
                }
            } 

        }
    }

    @media (max-width: 431px) {
        margin: 10px 0 40px;
        height: 700px;
        .gallery-grid {
            padding: 0 33px;
        }
        .row1 {
            width: 75%;
            .column1 {
               
            }
            .column2 {
                img.icon {
                    width: 60px;
                }
            }
        }

        .row2 {
            width: 95%;
            .column1 {
               text-align: center;
                .row:last-child {
                    img.icon {
                        width: 85px;
                    }
                }
            }
            .column2 {
                img.icon {
                    width: 60px;
                }
            }
        }
    }

    @media (max-width: 391px) {
        height: 600px;
        margin: 10px 0 50px;
        .gallery-grid {
            padding: 10px 25px;
        }
    }

    @media (max-width: 380px) {
        .gallery-grid {
            padding: 18px;
        }
    }
}
