@use "../variables" as *;
@use "../mixins" as *;

.timeline {
    width: 100%;
    .content {
        width: 100%;
        background: url("../../assets/images/bg/image31.png") no-repeat center/ contain;
        aspect-ratio: 500 / 1000;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        .title {
            font-family: $font-hero;
            font-size: 60px;
            font-weight: normal;
            padding-bottom: 9%;
        }
        .timeline-list {
            .event {
                padding-bottom: 5.6%;
                .icon {
                    padding-bottom: 1.5%;
        
                    img {
                        width: 25px;
                        height: auto;
                    }
                }
        
                p.time {
                    margin-bottom: .8%;
                }
                &:nth-child(2) {
                    .icon {
                        img {
                            width: 35px;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 500px) {
        .content {
            .title {
                font-size: calc((60 / 500) * 100vw);
            }
            .timeline-list {
                .event {
                    .icon {
                        img {
                            width: calc((25 / 500) * 100vw);
                        }
                    }
                    &:nth-child(2) {
                        .icon {
                            img {
                                width:  calc((35 / 500) * 100vw);
                            }
                        }
                    }
                }
            }
        }
    }
}
