@use "variables" as *;
@use "mixins" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-main;
    color: $primary-color;
    font-size: $font-size-text;
    @include flex-center;
}

.container {
    background: url('../../assets/images/bg/bg_main_02.webp') no-repeat center/cover;
    max-width: 500px;
    width: 100%;
    height: 100%;
    box-shadow: $shadow-default;
    margin: 0;
}

/* music */
.player {
    position: fixed;
    bottom: 10px;
    right: 2%;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    z-index: 9999;
    border: 1px solid var(--text-title-color);
    min-width: 40px;
}

.player #iconSvg {
    width: 100%;
    height: 100%;
    fill: var(--text-title-color);
}

// .music-label {
//     position: fixed;
//     bottom: 14px;
//     right: 20px;
//     width: 125px;
//     height: 36px;
//     // background-color: #f2ebd8ff;
//     z-index: 999;
//     font-family: "SVN-GothamBook", sans-serif;
//     font-size: .9rem;
//     color: #806331;
//     display: flex;
//     text-align: right;
//     justify-content: flex-start;
//     align-items: center;
//     padding: 10px 17px 10px 10px;
//     border-radius: 25px;
//     opacity: .8;
// }

@media (max-width: 500px) {
    body {
        font-size: calc((12 / 500) * 100vw);
    }

    .player {
        width: calc((50 / 500) * 100vw);
    }

}

.spin {
    animation: spin 4s linear infinite;
}


@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

