@font-face {
    font-family: "iCielBCOldStyle";
    src: url("../../assets/fonts/ICIELBCOLDSTYLE-REGULAR.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UVNBUCTHU";
    src: url("../../assets/fonts/UVNBUCTHU.TTF") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "UVNKeChuyen3";
    src: url("../../assets/fonts/UVNKeChuyen3.woff2") format("woff2"),
        url("../../assets/fonts/UVNKeChuyen3.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}