$shadow-default: 0 10px 20px rgba(0, 0, 0, 0.513);
$radius: 14px;

// Colors
$primary-color: #806331ff;
$secondary-color: #f2ebd8ff;
$bg-color: #fff;

// Font
$font-main: 'iCielBCOldStyle', sans-serif;
$font-hero: 'UVNBUCTHU', sans-serif;
$font-size-text: 12px;

// Animation
$duration-fast: 0.5s;
$duration-slow: 1.2s;
