@use "../variables" as *;
@use "../mixins" as *;


.card-container {
    margin: 0;
    height: 100vh;
    @include flex-center;
}

.card {
    background: url('../../assets/images/bg/fist_page_bg.webp') repeat top/cover;
    max-width: 500px;
    box-shadow: $shadow-default;
    width: 100%;
    height: 822px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 10px;
    perspective: 1000px;

    .couple-names {
        font-family: $font-hero;
        font-size: 2.8rem;
        font-weight: 300;
        padding-bottom: 30px;
    }

    a {
        text-decoration: none;
        color: $primary-color;
    }

    .letter-img {
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        img {
            width: 90%;
            height: auto;
            object-fit: cover;
        }

        .logo {
            position: absolute;
            max-width: 82px;
            width: 100%;
            height: auto;
            top: 15%;
        }

        .overlay {
            position: absolute;
            bottom: 7%;
            // left: 50%;
            // transform: translateX(-50%);
            
        }
    }
    .date {
        font-size: 23px;
    }

}

/* ----------------------------------------------
 * Generated by Animista on 2025-10-19 11:14:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
 .shake-bottom {
	-webkit-animation: shake-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
	        animation: shake-bottom 2s cubic-bezier(0.455, 0.030, 0.515, 0.955) infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-10-19 11:19:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
 @-webkit-keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }

  